{% extends 'layout.html' %}
{% block content %}

<h2>Add New Ride</h2>

<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {% for field in form %}
        <p>
            {{ field.label }}<br>
            {{ field(size=40) if field.type != 'FileField' else field() }}
        </p>
    {% endfor %}
    <!-- <p>{{ form.submit() }}</p>
    {% if form.errors %}
        <ul class="error-list">
            {% for field, errors in form.errors.items() %}
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %} -->
</form>

{% endblock %}
