{% extends 'layout.html' %}
{% block content %}
<p>TEST</p>
<h1>TEST TEST TEST</h1>
<p>Amusment Industries, a fake company made by a year 13</p>
{#
    <form action="/add">
    <input type="text" nmae="ROR2"><br>
    <input type="submit" value="Submit">
</form>
<br><br><br><br><br><br><br><br><br><br><br><br>
<form action="/add">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" value="John"><br><br>
    <input type="submit" value="Submit">
</form>
#}

{# Mr Wang cloud code#}
<style>
    
    body {
            scroll-behavior: smooth;
            font-family: 'Inter', sans-serif;
            background: linear-gradient(to bottom, #E0F7FA, #B3E5FC, #4FC3F7);
            overflow-x: hidden;
        }

        .section-wrapper {
            position: relative;
            max-width: 1024px;
            margin: 0 auto;
        }

        .section-content {
            position: relative;
            background: rgba(255, 255, 255, 0.95);
            backdrop-filter: blur(10px);
            border-radius: 12px;
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
            border: 1px solid rgba(255, 255, 255, 0.2);
            padding: 2rem;
            margin: 2rem auto;
        }

        .section-content::after {
            content: '';
            position: absolute;
            bottom: -20px;
            left: 0;
            width: 100%;
            height: 40px;
            background: url('https://www.transparenttextures.com/patterns/wave.png') repeat-x;
            background-size: 100px 40px;
            animation: wave 10s linear infinite;
            opacity: 0.5;
        }

    .cloud {
        position: absolute;
        width: 100px;
        height: 40px;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 50px;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
        animation: floatCloud 15s linear infinite;
        opacity: 0;
    }

    .cloud::before, .cloud::after {
        content: '';
        position: absolute;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 50%;
    }

    .cloud::before {
        width: 60px;
        height: 60px;
        top: -30px;
        left: 20px;
    }

    .cloud::after {
        width: 40px;
        height: 40px;
        top: -20px;
        left: 60px;
    }

    .cloud:nth-child(1) {
        top: 5%;
        left: -150px;
        animation-delay: 0s;
        width: 120px;
        height: 50px;
        opacity: 0.7;
    }

    .cloud:nth-child(2) {
        top: 15%;
        left: -150px;
        animation-delay: 2s;
        width: 90px;
        height: 35px;
        opacity: 0.5;
    }

    .cloud:nth-child(3) {
        top: 25%;
        left: -150px;
        animation-delay: 4s;
        width: 110px;
        height: 45px;
        opacity: 0.6;
    }

    .cloud:nth-child(4) {
        top: 40%;
        left: -150px;
        animation-delay: 6s;
        width: 80px;
        height: 30px;
        opacity: 0.4;
    }

    .cloud:nth-child(5) {
        top: 50%;
        left: -150px;
        animation-delay: 8s;
        width: 100px;
        height: 40px;
        opacity: 0.7;
    }

    .cloud:nth-child(6) {
        top: 65%;
        left: -150px;
        animation-delay: 10s;
        width: 95px;
        height: 38px;
        opacity: 0.5;
    }

    .cloud:nth-child(7) {
        top: 75%;
        left: -150px;
        animation-delay: 12s;
        width: 85px;
        height: 32px;
        opacity: 0.6;
    }

    .cloud:nth-child(8) {
        top: 85%;
        left: -150px;
        animation-delay: 14s;
        width: 115px;
        height: 48px;
        opacity: 0.4;
    }

    @keyframes floatCloud {
        0% {
            left: -150px;
            opacity: 0;
        }
        10% {
            opacity: 0.8;
        }
        90% {
            opacity: 0.8;
        }
        100% {
            left: 110%;
            opacity: 0;
        }
    }

</style>
<div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
</div>

{# Note page must have a scroll bar as otherwise bottm of the screen will be white instead of the bottom of the gradient#}
<br><br><br>
{% endblock %}