{% extends 'layout.html' %}
{% block content %}
<main class="twocol-grid">
    {% for park, rides in grouped_parks.items() %}
    <article><h1>{{park.name}}</h1></article>
    <article>
        <a href="/park/{{park.id}}">
            <img class="widthhalf" src="/static/Images/website/{{park.photo}}">
        </a>
    </article>
        {% for ride in rides %}
            {% set flipped = loop.index0 is even %}
            {% if flipped %}
                <article>
                    <h1>{{ride.name}} {{ride.thrill_level}}</h1>  
                </article>
                <article>
                    <a href="/ride/{{ride.id}}">
                        <img class="widthhalf" src="/static/Images/website/rides/{{ride.photo}}">
                    </a>
                </article>
            {% else %}
                <article>
                    <a href="/ride/{{ride.id}}">
                        <img class="widthhalf" src="/static/Images/website/rides/{{ride.photo}}">
                    </a>
                </article>
                <article>
                    <h1>{{ride.name}} {{ride.thrill_level}}</h1>
                </article>
            {% endif %}
        {% endfor %}
    {% endfor %}
</main>
{% endblock %}