{% extends 'layout.html' %}
{% block content %}



<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.search.label }} {{ form.search(size=32) }}
    {{ form.submit() }}
</form>



<main class="twocol-grid">
{% for park in parks %}
    {# Determine layout direction: 
        If index is even (0, 2, 4...), show image on the right.
        If index is odd (1, 3, 5...), show image on the left. #}
    {% set flipped = loop.index0 is even %}
        {% if flipped %}
            {# Even index (0, 2, 4...): Text on left, Image on right #}
            <article>
                <h1>{{park.name}} </h1> <p>{{park.description}} {{park.location}}</p>
            </article>
            <article>
                <img class = "widthhalf" src="/static/Images/website/{{park.photo}}">
            </article>
        {% else %}
            {# Odd index (1, 3, 5...): Image on left, Text on right #}
            <article>
                <img class = "widthhalf" src="/static/Images/website/{{park.photo}}">
            </article>
            <article>
                <h1>{{park.name}} </h1> <p>{{park.description}} {{park.location}}</p>
            </article>
        {% endif %}

    {% endfor %}


</main>
{% endblock %}