{% extends 'layout.html' %}
{% block content %}
{# old cloud code new one is done with java script<div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>

    <div class="cloud-fast"></div>
    <div class="cloud-fast"></div>
    <div class="cloud-fast"></div>
    <div class="cloud-fast"></div>
    <div class="cloud-fast"></div>
    <div class="cloud-fast"></div>
    <div class="cloud-fast"></div>
    <div class="cloud-fast"></div>
</div>
#}


<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.search.label }} {{ form.search(size=32) }}
    {{ form.submit() }}
</form>

<main class="twocol-grid">
    {% for ride in rides %}
        {# Determine layout direction: 
            If index is even (0, 2, 4...), show image on the right.
            If index is odd (1, 3, 5...), show image on the left. #}
        {% set flipped = loop.index0 is even %}
            {% if flipped %}
                {# Even index (0, 2, 4...): Text on left, Image on right #}
                <article>
                    <h1>{{ride.name}} {{ride.thrill_level}}</h1> <p>{{ride.layout.description}} </p> 
                    <!-- ride.layout.description is how to query the decription column form the ride table joining layout-->
                </article>
                <article>
                    <img class = "widthhalf" src="/static/Images/website/rides/{{ride.photo}}">
                </article>
            {% else %}
                {# Odd index (1, 3, 5...): Image on left, Text on right #}
                <article>
                    <img class = "widthhalf" src="/static/Images/website/rides/{{ride.photo}}">
                </article>
                <article>
                    <h1>{{ride.name}} {{ride.thrill_level}}</h1> <p>{{ride.layout.description }}</p>
                </article>
            {% endif %}

        {% endfor %}

    {# <script>
        // Scroll to bottom on page load
        window.onload = function() {
          window.scrollTo(0, document.body.scrollHeight);
        };
    </script> #}


</main>
{% endblock %}